.background {
    background-color: black;
    color: white;
    max-width: 100%;

}
.voltar {
	font-family: Athiti;
	font-size: 20px;
	position: relative;
	left: 35%;
	top: 30px;
	
}
.descricao {
    color:rgba(255, 255, 255, 1);
	width:60vh;
	height:40vw;
	font-family:Athiti;
	text-align:right;
	position: relative;
	top: 10vh;
	left: 5%;
	font-size:30px;
	letter-spacing:0;
	background-position: right top;
	box-sizing: content-box;
}

.tituloEp {
    color:rgba(100.00000163912773, 63.000000044703484, 181.0000044107437, 1);
	width:259px;
	height:62px;
	font-family:League Gothic;
	text-align:justified;
	font-size:50px;
	letter-spacing:0;
	background-position: right top;

}

.top {
    display: flex;
}

img {
	width: 80%;
	height: 80%;
}

.tituloEp {
    display: start-end;
}
.middle {
	align-items: center;
	position: relative;
	bottom: 5vh;
	left: 10vw;

	height: 100%;
	margin-top: auto;
	margin-left: 25%;
	margin-right: auto;
	margin-bottom: auto;
    display: flex;

}
.nComentarios {
    color:rgba(255, 255, 255, 1);
	width:173px;
	height:116px;
	font-family:Bebas Neue;
	text-align:justified;
	font-size:100px;
	letter-spacing:0;
}	
.traco {
    transform: rotate(90deg);
	width:200px;
	height:0px;
    border:5px solid rgba(255, 255, 255, 1);
    
}
.nReacoes {
    color:rgba(255, 255, 255, 1);
	width:173px;
	height:116px;
	font-family:Bebas Neue;
	text-align:justified;
	font-size:100px;
	letter-spacing:0;
}
.session {
    color:rgba(103.1602768599987, 64.70625668764114, 184.87500607967377, 1);
	width:533px;
	height:82px;
	font-family:Bebas Neue;
	text-align:justified;
	font-size:60px;
	letter-spacing:30;
	margin-top: auto;
	margin-left: 42%;
	margin-right: center;
	margin-bottom: center;
	position: relative;
	top: 25vh;

}
.privateSession {
    color:rgba(255, 255, 255, 1);
	width:1066px;
	height:82px;
	font-family:Marvel;
	text-align:justified;
	font-size:30px;
	letter-spacing:0;
	margin-top: auto;
	margin-left: 12%;
	margin-right: center;
	margin-bottom: center;
	position: relative;
	top: 30vh
}


.numeroEpisodio{
	color:rgba(80.00000283122063, 46.000001057982445, 152.0000061392784, 1);
	width:197px;
	height:106px;
	font-family:League Gothic;
	text-align:justified;
	font-size:100px;
	letter-spacing:0;
	position:relative;
	left: 15vh;
	bottom: 25vh;
	

}
.box1 {
	background-color:rgba(80.04575997591019, 46.214328557252884, 151.93750709295273, 1);
	width:179px;
	height:52px;
	border-radius:10px;
	position:relative;
	right: 80vh;
	top: 65vh;
	color:rgba(0, 0, 0, 1);
	font-family:Marvel;
	text-align:justified;
	font-size:30px;
	letter-spacing:0;
	
	
}
.box2 {
	width:32px;
	height:27px;
	background-image:url(images/iconedesmarcado.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	right: 20vh;
}
.lançamento {
	position: relative; 
	top: 70vh;
	right: 5vh;
}
.duracao{
	position: relative; 
	top: 75vh;
	right: 15vh;
}
.comentarios{
	color:rgba(255, 255, 255, 1);
	width:313px;
	height:49px;
	font-family:Marvel;
	text-align:justified;
	font-size:36px;
	letter-spacing:0;
	position: relative;
	top: 40vh;
	left: 15vh;
}
.spoilers{
	color:rgba(103.1602768599987, 64.70625668764114, 184.87500607967377, 1);
	width:211px;
	height:33px;
	font-family:Marvel;
	text-align:justified;
	font-size:24px;
	letter-spacing:0;
}
.boxComentario{
	background-color:rgba(255, 255, 255, 1);
	opacity:0.20000000298023224;
	width:2133px;
	height:2505px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	position: relative;
	top: 45vh;
	left: 15vh;
}

