

body{
    margin: 0;
    font-family: "Athiti";
    background: black;
}

#background{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;    
}

.logo{
    position: absolute;
    width: 5%;
    height: 5%;
    top: 2%;
    left: 5%;
}

header{
    position: fixed;
}

main{
    position: absolute;
    top: 20px;
    padding: 30px;
    color: #fff ;
    text-shadow: #000 2px 2px 2px
}

h1{ 
    font-size: 500%;
    padding-left: 5%;
    padding-right: 50%;
    padding-top: 10%;
    letter-spacing: 20px
}

.icon{
    width: 7%;
    height: 7%;
    position: fixed;
    left: 93%;
    bottom: 92%;
}

/* ==== MODAL ====*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 30%;
    height: 30%;
    top: 1%;
    visibility: visible;
    left: 70%;
    right: 10%;
    bottom: 92%
}