body{
    background-color: #000000;
    overflow: hidden;
}

.error-text{
    text-align: center;
    margin-top: -30%;
    line-height: 70px;
}

.error-text h1{
    color: black;
    font-family: "Bebas Neue";
    font-size: 100px;
}

.error-text h3{
    color: black;
    font-family: "Athiti";
    font-weight: 200;
    margin-top: -20px;
    margin-bottom: 70px;
    font-size: 38px;
}

.error{
    width: 100%;
    height: 100%;    
    background-size: 100%;
    text-align: center;
}

a{
    color: black;
    font-size: 50px;
    font-weight: 500;
    font-family: "Bebas Neue";
    text-decoration: none;
}

a:hover{
    color: white;
}

a:link {
    text-decoration:none;
}