/*Sessão Explorar*/

.explorar{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: 2%;
    padding-right:2%;
    height: 300px;
}

.explorar img{
    width: 85px;
    height: 85px;
}

.conexoes img {
    max-width: 100px;
}

main div h1 {
    width: 658px;
    height: 91px;
    left: 492px;
    top: 706px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 122px;
    text-align: justify;
    letter-spacing: 0.6em;
    color: #6741B9;
}


/******************/

/*Sessão Conexões titleGenre*/


.titleGenre{
    background-color: #000000;
    text-align: left;
    padding: 0 5%;
    padding-top: 70px;
    padding-bottom: 25px;
}

main .titleGenre h2{
    font-family: Bebas Neue;
    font-weight: 200;
    font-size: 45px;
    letter-spacing: 0.6em;
    color: #6741B9;
}

.casting {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 5%;
}

.CastTitle{
    margin-right: 2%;
    margin-bottom: 30px;
}

.CastTitle img{
    width: 180px;
    height: 280px;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.CastTitle h3{
    font-family: 'Bebas Neue', cursive;
    height: auto;
    max-width: 180px;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

.CastTitle h4{
    font-family: 'Athiti', sans-serif;
    max-width: 180px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

/******************

/**SEARCH**/

form.search{
    background-color: #000000;
    text-align: center;
}

form.search input[type=text]{
    width: 400px;
    border-radius: 20px;
    background-color:#6741B9 ;
}

form.search input[type=submit]{
    width: 80px;
    border-radius: 20px;
    background-color:#6741B9 ;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

/*****************/