*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Athiti";
    color: #ffffffe1;
    border: none;
}

video{
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.form{
    position: fixed;
    z-index: 3;
    margin-left: 40%;
    background: #ffffff30;
    width: 400px;
    text-align: center;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 10px;
}

img{
    width: 120px;
    object-fit: cover;
}

.meuLogin{
    margin-top: 30px;
    margin-bottom: 40px;
}

input{
    display: block;
    width: 100%;
    padding-top: 5px;
    border-bottom: 2px solid black;
    padding: 10px;
    background: none;
    letter-spacing: 60%;
    line-height: 40px;
    font-size: 16px;
    padding-bottom: 2px;
}

#forgot-pass{
    font-size: 16px;
    text-align: right;
    display: block;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

#forgot-pass:hover{
    color: rgb(146, 142, 142);
}

input[type="submit"] {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    background: black;
    opacity: 0.5;
    margin-top: 40px;
    padding-top: 1px;
    color:white;
    cursor: pointer;
    letter-spacing: 60%;
    transition: all 0.3s ease;
}

input[type="submit"]:hover{
    color: blueviolet
}

textarea:focus, input:focus{
    outline: none;
}


