*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Athiti";
    color: #ffffffe1;
    border: none;
    overflow: hidden;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.form{
    position: relative;
    z-index: 3;
    background: #00000099;
    width: 400px;
    text-align: center;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}

img{
    width: 120px;
    object-fit: cover;
}

.meuLogin{
    margin-top: 30px;
    margin-bottom: 40px;
}

input{
    display: block;
    width: 100%;
    padding-top: 5px;
    border-bottom: 2px solid #ffffff50;
    padding: 10px;
    background: none;
    letter-spacing: 60%;
    line-height: 40px;
    font-size: 16px;
    padding-bottom: 2px;
}


#forgot-pass{
    font-size: 16px;
    text-align: right;
    display: block;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

#forgot-pass:hover{
    color: blueviolet;
}

input[type="submit"] {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    background:#1A1A1A;
    margin-top: 40px;
    padding-top: 1px;
    color:white;
    cursor: pointer;
    letter-spacing: 60%;
    transition: all 0.3s ease;
}

input[type="submit"]:hover{
    color: blueviolet
}

textarea:focus, input:focus{
    outline: none;
}

input::placeholder {
    color: #ffffff50;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


@keyframes move {
    from{
        opacity: 0;
        transform: translateX(-35%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.form-hide{
    animation: down 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes down {
    from{
        transform: translateY(0);
    } to {
        transform: translateY(100vh);
    }
}

.validate-error{
    animation: vibrate 150ms linear, move paused;
    animation-iteration-count: 2;
}

@keyframes vibrate{
    0% {
        transform: translateX(0);
    }
    35%{
        transform: translateX(-10%);
    }
    70%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0);
    }
}