.body {
  background-color: #000000;
}

.botaoVoltar {
  position: absolute;
  top: 0;
  right: 0;
  left: 90%;
  width: 820px;
  height: 240px;
  font-family: Athiti;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 135.94%;
  text-align: justify;
  letter-spacing: 0.2em;
  color: white;
}
.tituloDoEp {
  position: absolute;
  width: 259px;
  height: 62px;
  top: 5%;
  right: 0;
  left: 79%;

  font-family: League Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 135.94%;
  text-align: justify;
  color: #643fb5;
}

.textoDoEp {
  color: white;
  position: absolute;
  top: 15%;
  right: 0;
  left: 55%;
  width: 614px;
  height: 439px;
  font-family: Athiti;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 135.94%;
  text-align: right;
}

.dadosEp {
  position: absolute;
  top: 72%;
  right: 0;
  left: 80%;
  width: 164px;
  height: 27px;
  font-family: marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 135.94%;
  text-align: justify;
  color: #ffffff;
}

.avaliacao {
  position: absolute;
  width: 88px;
  height: 9px;
  top: 95%;
  right: 0;
  left: 80%;
  font-family: Marvel;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 135.94%;
  text-align: justify;
  color: #ffffff;
}

.bolinha1{
	position: absolute;
  top: 34px;	
  right: 0;	
  left: 85%;
width: 15px;
height: 16px;
border-radius: 10px;
background: #C4C4C4;
}
.bolinha2{
	position: absolute;
  top: 34px;	
  right: 0;	
  left: 115%;
width: 15px;
height: 16px;
border-radius: 10px;
background: #C4C4C4;
}
.bolinha3{
	position: absolute;
  top: 34px;	
  right: 0;	
  left: 95%;
width: 15px;
height: 16px;
border-radius: 10px;
background: #C4C4C4;
}
.bolinha4{
	position: absolute;
  top: 34px;	
  right: 0;	
  left: 100%;
width: 15px;
height: 16px;
border-radius: 10px;
background: #C4C4C4;
}
.bolinha5{
	position: absolute;
  top: 34px;	
  right: 0;	
  left: 75%;
width: 15px;
height: 16px;
border-radius: 10px;
background: #C4C4C4;
}
.nComentarios {
	position: absolute;
width: 173px;
height: 116px;
left: 452px;
top: 907px;
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 135.94%;
text-align: justify;
color: #FFFFFF;
}
.comentarios{
	position: absolute;
width: 150px;
height: 34px;
left: 468px;
top: 160%;
color: white;
font-family: Athiti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 135.94%;
}
.barra {
	position: absolute;
width: 200px;
height: 0px;
left: 600px;
top: 1091px;

border: 5px solid #FFFFFF;
transform: rotate(90deg);
}	

.nReacoes{
	position: absolute;
width: 173px;
height: 116px;
left: 774px;
top: 907px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 135.94%;
/* or 136px */

text-align: justify;

color: #FFFFFF;
}
.reacoes{
	position: absolute;
width: 97px;
height: 34px;
left: 812px;
top: 1120px;	
font-family: Athiti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 135.94%;
/* identical to box height, or 34px */

text-align: justify;

color: #FFFFFF;

}