*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Athiti";
    background: black;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.logo{
    position: absolute;
    width: 120px;
    top: 3%;
    left: 5%;
    object-fit: cover;
}

header{
    position: fixed;
}

main{
    position: fixed;
    top: 20px;
    padding: 30px;
    color: #fff ;
    text-shadow: #000 2px 2px 2px
}

h1{ 
    font-size: 300%;
    padding-left: 5%;
    padding-right: 50%;
    padding-top: 15%;
    letter-spacing: 20px;
    position: absolute;
    color: #ffffff;
} 

/* ==== listMenu ====*/
    
a{
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 60%;
    line-height: 250%;
    color: #ffffffe1;
    font-weight: bold;
}

ul{
    text-align: center;
    margin-top: 3%;
    list-style: none;
}

.listMenu{

}








