*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Athiti";
    background: black;
    position: relative;
}

.logo{
    width: 120px;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 5%;
}

h1{ 
    max-width: 800px;
    font-size: 50px;
    letter-spacing: 20px;
    color: #ffffff;
    padding-left: 5%;
    padding-top: 150px;
} 

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ==== listMenu ====*/
    
a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 60%;
    line-height: 250%;
    color: #ffffffe1;
    font-weight: bold;
}

a:hover{
    color: #643fb5;
}

ul{
    width: auto;
    list-style: none;    
}

li{
    display: inline;
    font-size: 20px;
    letter-spacing: 60%;
    line-height: 250%;
    color: #ffffffe1;
    font-weight: bold;
    margin-right: 15px;    
}

nav{
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}








