
body {
    background-color: #000000;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.info-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.poster{
    width: 40%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    position: relative;   
}

.poster input[type=submit]{
    width: 200px;
    background-color: #6741B9;
    color:white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 80px;
    left: 150px;
}

.infoTvShow{
    width: 60%;
    height: 100%;
    color: white;
    text-align: right;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.infoTvShow h1{
    color: #6741B9;
    font-size: 50px;
    line-height: 50px;
}

.infoTvShow p{
    margin: 50px 0 15px 0;
    font-size: 20px;
}

.infoTvShow input[type=submit]{
    width: 100px;
    margin-top: 20px;
    font-weight: bold;
    background-color: #6741B9;
    color:white;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    padding: 5px;
}

.infoTvShowSeason{
    width: 90%;
    text-align: right;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.infoTvShowSeason .infoDatasheet{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoTvShowSeason .infoDatasheet h3{
    font-family: 50px;
    color: #FFFFFF;
}

.episodesWrapper img{
    width: 180px;
    height: 280px;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.episodesWrapper ul{
    text-align: left;
    color: #FFFFFF;
}

.episodesWrapper ul li:nth-child(even){
    background-color: rgba(170, 177, 185, 0.1);
}

.commentWrapper{
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
}

.commentForm{
    margin: 20px auto;
    text-align: center;
}

.commentForm input[type=text]{
    width: 100%;
    height: 100px;
    min-height: 30px;
    padding: 10px;
    background-color: rgba(170, 177, 185, 0.2);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.commentForm button{
    width: 80px;
    background-color: #6741B9;
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
    float: right;
}

.usersPosts{
    width: 100%;
    padding: 2%;
    background-color: rgba(170, 177, 185, 0.2);
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.usersPosts a{
    float: right;
    text-decoration: none;
    color: #6741B9;
    font-weight: bold;
}

.titlePost{
    display: flex;
    justify-content: left;
    align-items: center;
}

.titlePost img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.titlePost h3{
    margin-left: 15px;
    font-size: 20px;
}

