*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Athiti";
    color:white;
    border: none;
}

img{
    width: 120px;
    object-fit: cover;
    margin-bottom: 7%;
}

video{
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

body{
    background: black;
}

a{
    font-size: .8rem;
    padding-top: 5px;
    transition: .5s;
}

a:hover{
    color: #8A2BE2
}

.form{
    position: fixed;
    z-index: 3;
    margin-left: 40%;
    background: #ffffff30;
    width: 400px;
    text-align: center;
    padding: 30px 30px;
    margin-top: 20vh;
    border-radius: 10px;
}

.meuLogin{
    position: fixed;
    z-index: 3;
    margin-top: 30px;
    margin-bottom: 40px;
}

input{
    display: block;
    width: 100%;
    padding-top: 5px;
    border-bottom: 2px solid black;
    padding: 10px;
    background: none;
    letter-spacing: 60%;
    line-height: 40px;
    font-size: 16px;
}

#forgot-pass{
    text-align: right;
    display: block;
    color: #9b9b9b;
    transition: .5s #8A2BE2;
}

input[type="submit"] {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    background: black;
    opacity: 0.5;
    margin-top: 40px;
    padding-top: 1px;
    color: #B5B5B5;
    cursor: pointer;
    letter-spacing: 60%;
    transition: all 0.3s ease;
}

input[type="submit"]:hover{
    color: blueviolet
}

textarea:focus, input:focus{
    outline: none;
}

div{
    margin-top: 5%;
}

.login-return{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}

.login-return:hover{
    color:#9b9b9b
}

