*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
    font-family: 'Athiti', sans-serif;
}

html,body{
	width: 100%;
	height: 100%;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;            
}
  
*::-webkit-scrollbar-track {
    background-color: #000000;
}
  
*::-webkit-scrollbar-thumb {
    background-color:#6741B9;    
    border-radius: 20px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/*Header - Menu Principal - Busca Usuário*/

header{
    width: 100%;    
    background-color:#282D31;   
    padding: 10px 30px; 
}

header .container{    
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .container img.logo{
    width: 10%;
    max-width: 100px;
}

header .container nav.menu-mobile{
    display: none;
}

header .container nav.menu-desktop{
    width: 70%;
}

header .container ul{
    display: flex;
    justify-content: right;
}

header .container ul li{
    margin: 0;
    display: block;
    margin-right: 40px;
}

header .container ul li a{
    text-decoration: none;
    color:#FFFFFF;
}

header .container #divSearchUser{
    background: rgba(103, 65, 185, 0.5);
    border-radius: 50px;
    width:30%;
    height: 23px;
}
 
header .container #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:15px;
    font-size:15px;
    border:none;
    height:23px;
    width:90%;
    outline: none;
  }

header .container #btnBusca{
    width: 15px;
    padding-top: 4px;
    opacity: 0.5;
}

/******************/

/*Perfil Usuário - Navegação Usuário*/

.background-user{
    width: 100%;
    height: 50%;
    background-image:url('../images/imgUsuarioPerfil/background-user.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background-user .container .blockUser{
    width: 320px;
    margin: 0 auto;
    padding-top: 5vh;
}

.background-user .container #profilePicture{
    width: 100px;
    height: 100px;
    background-image: url('../images/imgUsuarioPerfil/user-profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border-radius: 10px;
}

.background-user .container #userName{
    width: 310px;
    height: 80px;
    background-color: #6741B9;
    margin: 20px auto;
    border-radius:10px;
    text-align: center;
    padding: 0 15px 5px;
    color: #FFFFFF;
}

.background-user .container #userName h1{
    font-size: 20px;
    font-weight:600;
}

.background-user .container #userName #userFollows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #282D31;
}

.background-user .container #userName #userFollows img{
    width: 40px;
    height: 40px;
    padding: 4px;
}

.background-user .container #userName #userFollows h4{
    width: 120px;
    line-height:15px;
    padding-top:4px;
    font-weight: 400;
    text-transform: uppercase;
}

.background-user .container nav.menu-perfil-mobile{
    display: none;
}

.background-user .container nav.menu-perfil-desktop{
    width: 100%;
    background-color: rgba(81, 91, 99, 0.5);
    color:#FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.background-user .container ul{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.background-user .container ul li{
    width: 150px;
    height: 100%;
	display: inline;
	position: relative;
    padding: 10px;
}

.background-user .container ul li a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;    
}

.select{
    background-color: black;
}

/******************/

/*Media Queries*/

@media screen and (max-width: 768px){
    header .container #divSearchUser{
        width:40%;
    }

    header .container img.logo{
        width: 20%;
        max-width: 100px;
    }

    header .container nav.menu-desktop{
        display: none;
    }

    header .container nav.menu-mobile{
        width: 40%;
        display: block;
    }
    
    header .container nav.menu-mobile ul{
        display: flex;
        justify-content: space-around;
    }

    header .container nav.menu-mobile ul li{
        margin: 0;
        display: block;
    }

    header .container nav.menu-mobile img{
        width: 20px;
    }      
}