.selectSettings{
    background-color: black;
}

/*SESSAO FEED*/
main{
    background-color: #000000;
}

main .container{
    padding: 5% 2%;
    text-align: center;
}

.backgroundSettings{
    width: fit-content;
    background-color: #ffffff10;
    border-radius: 10px;
    padding: 2% 5%;
    margin: 0 auto;
}

.backgroundSettings label{
    color: #733FBE;
    font-family: 'Bebas Neue';
    font-size: 25px;    
}

.backgroundSettings .fileImg{
    margin-bottom: 30px;
}

.backgroundSettings form button{
    font-weight: 500;
    background-color: rgba(95, 51, 190, 0.336);
    color:white;
    font-size: 15px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border: none;
}

.backgroundSettings form button:hover{
    background-color: rgba(103, 65, 185, 0.5);
}

.backgroundSettings form input[type=file]::-webkit-file-upload-button{
    font-weight: 500;
    background-color: rgba(95, 51, 190, 0.336);
    color:white;
    font-size: 15px;
    border-radius: 50px;
    padding:3px 15px;
    cursor: pointer;
    border: none;
}

.backgroundSettings form input[type=file]::-webkit-file-upload-button:hover{
    background-color: rgba(103, 65, 185, 0.5);
}