
.selectConexoes{
    background-color: black;
}


/*Sessão Conexões*/

.conexoes{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: 2%;
    padding-right:2%;
}

a {
    text-decoration: none;
}

.conexoes img {
    max-width: 100px;
}

main div h1 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 122px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #6741B9;
}


/******************/

/*Sessão Conexões Seguindo*/


.followingTitle{
    background-color: #000000;
    text-align: left;
    padding: 0 5%;
    padding-top: 70px;
    padding-bottom: 25px;
}

main .followingTitle h2{
    font-family: Bebas Neue;
    font-weight: 200;
    font-size: 35px;
    letter-spacing: 0.6em;
    color: #6741B9;
}

.following {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    padding: 0 5%;
}

.follower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.follower h4{
    color:#FFFFFF;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    line-height: 95%;
    font-weight: normal;
}


.follower .followerPicture {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

h4:hover {
    color: #6741B9;
}

/******************/

/*Sessão Conexões Seguidores*/


.followersTitle{
    background-color: #000000;
    text-align: right;
    padding: 0 4%;
    padding-top: 70px;
    padding-bottom: 25px;
}

main .followersTitle h2{
    font-family: Bebas Neue;
    font-weight: 200;
    font-size: 35px;
    letter-spacing: 0.6em;
    color: #6741B9;
}

.followers {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: row;
    padding: 0 5%;
    padding-bottom: 15%;
}

/******************/

/*Media Queries*/

@media screen and (max-width: 576px){
    header #divSearchUser{
        width: 10%;
        text-align: center;
    }

    header #txtBusca{
        display: none;
    }

    .menu-desktop{
        display: none;
    }

    .conexoes img {
        max-width: 60px;
    }

    main div h1{
        font-size: 40px;
    }

}

/******************/