a {
    text-decoration: none;
    color: #222325;
}

.selectPipocando{
    background-color: black;
}

/*Seção Pipocando*/

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.pipocando{
    width: 100%;
    background-color: black;
}

.pipocando .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 2%;
}

/*Título Pipocando*/

.pipocando .container .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pipocando .title img{
   max-width: 100px;
}

.pipocando .title h1{
    color:#6741B9;
    font-size: 90px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.6em;
    margin: 20px;
    position: relative;
    left: 0.3em;
}

/************************/

/*Episódios atualizados*/

.pipocando .container .episodesUpdated{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pipocando .episodesUpdated .title h1{
    font-size: 40px;
    letter-spacing: 0.3em;
    position: relative;
    left: 0.2em;
}

.pipocando .container .watchedEpisodes{
    width: 800px;
    height: 200px;
    border-radius: 10px;
    background: rgba(170, 177, 185, 0.2); 
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    opacity: 50%;
}

.pipocando .container .watchedEpisodes .imgEpisode{
    width: 20%;
}

.pipocando .container .watchedEpisodes .imgEpisode img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.pipocando .container .watchedEpisodes .infoEpisode{
    width: 70%;
    padding: 0 5%;
}

.pipocando .container .watchedEpisodes .infoEpisode a{
    width: fit-content;
    height: max-content;
    background-color:#6741B9;
    padding:0 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#222325;
    text-decoration: none;
}

.pipocando .container .watchedEpisodes .infoEpisode p{
    color: white;
    font-size: 30px;
}

.pipocando .container .watchedEpisodes .infoEpisode span.seasonEpisode{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;    
}

.pipocando .container .watchedEpisodes .infoEpisode span.premiere{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    width: fit-content;
    height: max-content;
    color: #222325;
    background-color:#6741B9;
    padding:0 10px;
    border-radius: 5px;
}

.pipocando .container .watchedEpisodes .watched{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pipocando .container .watchedEpisodes .watched img{
    width: 50px;
}

/******************/

/*Episódios para Assistir*/

.pipocando .container .episodesToUpdate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pipocando .episodesToUpdate .title h1{
    font-size: 40px;
    letter-spacing: 0.3em;
    position: relative;
    left: 0.2em;
}

.pipocando .container .toWatchEpisodes{
    width: 800px;
    height: 200px;
    border-radius: 10px;
    background: rgba(170, 177, 185, 0.2); 
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pipocando .container .toWatchEpisodes .imgEpisode{
    width: 20%;
}

.pipocando .container .toWatchEpisodes .imgEpisode img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.pipocando .container .toWatchEpisodes .infoEpisode{
    width: 70%;
    padding: 0 5%;
}

.pipocando .container .toWatchEpisodes .infoEpisode h1{
    width: fit-content;
    height: max-content;
    color: #222325;
    background-color:#6741B9;
    padding:0 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pipocando .container .toWatchEpisodes .infoEpisode p{
    color: white;
    font-size: 30px;
}

.pipocando .container .toWatchEpisodes .infoEpisode span.seasonEpisode{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;    
}

.pipocando .container .toWatchEpisodes .infoEpisode span.premiere{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    width: fit-content;
    height: max-content;
    color: #222325;
    background-color:#6741B9;
    padding:0 10px;
    border-radius: 5px;
}

.pipocando .container .toWatchEpisodes .watched{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pipocando .container .toWatchEpisodes .watched img{
    width: 50px;
}

.pipocando .container .toWatchEpisodes .watched form input[type=submit]{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #6741B9;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}