<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head')%>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/calendario.css">

    <title>Serial - Calendário</title>
</head>
<body>
  
    <%- include ('./partials/header')  %> 

    <div class="geral">
        
        <div class="esquerda">
            <div><h1>23</h1></div>
            <div><h1>CALENDÁRIO</h1></div>
        
            <div class="infocal">
                <img width="100" height="120" src="/images/imgCalendario/the.jpg" >
                <a href="#">Episódios | Temporadas | Canal | Duração | Avaliações </a>
            </div>
            <div class="infocal">
                <img width="100" height="120" src="/images/imgCalendario/filmes.jpg" >
                <a href="#">Episódios | Temporadas | Canal | Duração | Avaliações</a>
            </div>
        </div>
        
        <div class="calendario">
            <div class="itens">
                <button>Minhas séries</button>
                <button>Todas as séries</button>
                <button>Pausadas</button>
                <button>Novas séries</button>
            </div>
            <div>
                <p> Novembro 2021 </p>
                <ol>
                    <li class="dia">Dom</li>
                    <li class="dia">Seg</li>
                    <li class="dia">Ter</li>
                    <li class="dia">Qua</li>
                    <li class="dia">Qui</li>
                    <li class="dia">Sex</li>
                    <li class="dia">Sab</li>
                    
                    <li class="first">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                </ol>
            </div>
        </div>   
    </div>   
</body>
</html>