<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioPerfil.css" rel="stylesheet">        
        
        <title>Serial - Editar Uusário</title> 
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%>

    </body>
</html>