<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/stylePadrao.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header')%>
    <h1>ERRO 404</h1>
    
</body>
</html>