<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/stylePadrao.css">
    <link rel="stylesheet" href="/css/error404.css">
    <title>Página Inexistente</title>
</head>
<body>  
    <img class="error" src="/images/icons/404.gif" alt="">    
    <div class="error-text"> 
        <h1>ERRO 404</h1>
        <h3>Página Inexistente!</h3>
        <a href="/explorar/1">Explorar</a>
    </div>
</body>
</html>