<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/stylePadrao.css">
    <link rel="stylesheet" href="/css/error404.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header')%>    
    <img class="error" src="/images/icons/404.gif" alt="">    
    <div class="error-text"> 
        <h1>ERRO 404</h1>
        <h3>Página Inexistente!</h3>
    </div>
</body>
</html>