<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/explorar.css" rel="stylesheet">

        <title>Serial - Explorar</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <main>
                <div class="explorar">
                    <img src="/images/imgExplorar/icones/iconeExplorar.png" alt="">
                    <h1>EXPLORAR</h1>
                </div>
                <div class="seguindo">
                    <h2>LANÇAMENTO</h2>
                </div>
                <div class="seguindoPessoas">
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/100.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                </div>
                <div class="seguidores">
                    <h2>AVENTURA</h2>
                </div>
                <div class="seguidoresPessoas">
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                </div>
                <div class="seguindo">
                    <h2>DRAMA</h2>
                </div>
                <div class="seguindoPessoas">
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgUsuarioPerfil/Cast/13.jpg" alt=""/>
                        </div>
                </div>
        </main>

    </body>
</html>