<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/stylePadrao.css">
    <link rel="icon" type="imagem/png" href="/images/icons/icon.png" />
    <title>Serial - Login</title>
</head>
<body>  

    <section class="form">
        <img src="/images/imgPagInicial/Logo.png" alt="">

        <form action="/login" class ="menuLogin" method="POST">
            <input type="email" name="email" id="email" placeholder="Digite seu email" style="background-color:rgba(0,0,0,0)">
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <a href="/recuperaSenha" id="forgot-pass">Esqueceu a senha?</a>

            <% if(locals.errors && errors.email) { %>
                <p class="feedback"><%= errors.email.msg %></p>
            <% } %>
            <% if(locals.errors && errors.password) { %>
                <p class="feedback"><%= errors.password.msg %></p>
            <% } %>
            
            <input class="submit" type="submit" value="Entrar">
        </form>
    </section>

    <video id="bakground" src="/video/video/videoBackground2.mp4" autoplay="true" muted loop></video>  
    
</body>
<script src="/scripts/login.js"></script>
</html>