<!DOCTYPE html>
<html lang="pt-nr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodios</title>
    <link rel="stylesheet" href="/css/pagEpisodio.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">
</head>
<body class="body">
    <section class="header">
        <header>
            <span class="imagemHeader">
                <img src="/images/pgSeriesEp/image.jpg" alt="">
            </span>
            <span>
                <h3 class="botaoVoltar"><a href="pgSerie.ejs">Voltar</a></h3>
                <br>
                <h2 class="tituloDoEp">"It's All her Fault"</h2>
                <br>
                <p class="textoDoEp">lorem ipsum dolor sit amet, consectetur adip lorem ips lorem Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error atque eius, ea tenetur quas unde voluptatum corporis, totam quae quis sint
                    voluptas molestias blanditiis esse maiores aperiam harum nesciunt reprehenderit?
                    lorem ipsum dolor sit amet, consectetur adip lorem ips lorem Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error atque eius, ea tenetur quas unde voluptatum corporis, totam quae quis sint
                    voluptas molestias blanditiis esse maiores aperiam harum nesciunt reprehenderit?
                    lorem ipsum dolor sit amet, consectetur adip lorem ips lorem Lorem ipsum dolo?</p>
                <br>
                <h6 class="dadosEp">Lançamento: x; duração: y</h6>
                <br>
            </span>
            
    
        </header>
    </section>
    <section>
        <span class="avaliacao">
            <h6>Sua avaliação:</h6>
            <div class="bolinha1"></div>
            <div class="bolinha2"></div>
            <div class="bolinha3"></div>
            <div class="bolinha4"></div>
            <div class="bolinha5"></div>
            <h6>Nota IMDB: 9</h6>
        </span>
    </section>
    <section>
        <span>
            <h4 class="nComentarios">1250</h4>
            <h4 class="comentarios">Comentários</h4>
        </span>
        <span>
            <div class="barra"></div>
        </span>
        <span>
            <h4 class="nReacoes">1800</h4>
            <h4 class="reacoes">Reações</h4>
        </span>
        <span></span>
    </section>
    <section>
        <span class="sessaoPrivada"><h2>Sessão Privada</h2></span>
    </section>
    <section>
        <span class="textoSessao"><p>Privatizamos essa sessão para que você não pesque spoilers, para poder visualizar essa sessão marque
            o episódio como assistido.</p></span>
    </section>
    <section>
        <button class='btnPrivate'>
            <p>Liberar para assistir</p></button>
    </section>
  
    
   
    
</body>
</html>
