<!DOCTYPE html>
<html lang="pt-nr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodios</title>
    <link rel="../..public/css/pagEpisodio" href="../../public/css/pagEpComent.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <header>
            <span>
                <img src="../../public/images/pgSeriesEp/image.jpg" alt="">
            </span>
            <span>
                <h3>Voltar</h3>
                <br>
                <h2>"It's All her Fault"</h2>
                <br>
                <p>lorem ipsum dolor sit amet, consectetur adip lorem ips lorem Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error atque eius, ea tenetur quas unde voluptatum corporis, totam quae quis sint
                    voluptas molestias blanditiis esse maiores aperiam harum nesciunt reprehenderit?</p>
                <br>
                <h6>Lançamento: x; duração: y</h6>
                <br>
            </span>
            
    
        </header>
    </section>
    <section>
        <span>
            <h6>Sua avaliação:</h6>
            <h6>Nota IMDB</h6>
        </span>
    </section>
    <section>
        <span>
            <h4>1250</h4>
            <h4>Comentários</h4>
        </span>
        <span></span>
        <span>
            <h4>1800</h4>
            <h4>Reações</h4>
        </span>
        <span></span>
    </section>
    <section>
        <span><h2>Sessão Privada</h2></span>
    </section>
  <section>
      <h3>O que achou do Episódio?</h3>
      <p>Modere nos spoilers</p>

</section>
<section>
    <form>
        <input type="text">
    </form>
</section>
    
   
    
</body>
</html>
