<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head') %>
    <link href="/css/stylePadrao.css" rel="stylesheet">
    <link href="/css/pgSerie.css" rel="stylesheet">
    
    <title>Serial - How To get Away With Murder </title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container">
        <div class="info-wrapper">
            <div class="poster" style="background-image: url('/images/pgSerie/htgw.jpg');">
                <button>ADICIONAR</button>
            </div><!--poster-->
            <div class="infoTvShow">
                <h1>How to get away with a murder</h1>
                <span>Nota no IMDB: 8,1</span>
                <p>How to Get Away With Murder é uma série de TV americana transmitida originalmente pelo canal American Broadcasting Company (ABC). A história acompanha a brilhante professora e advogada, Annalise Keating, e seu grupo de estudantes de direito que se envolvem em trama de assassinatos que vai agitar toda a universidade e mudar o curso de suas vidas.</p>
                <p>A série é produzida por Shonda Rhimes, criadora das séries, Grey's Anatomy e Scandal.</p>
                <button>PRIVATE</button>
            </div><!--infoTvShow-->
        </div><!--info-wrapper-->
    </div><!--container-->
    
</body>
</html>