<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/pagEpisodio.css">
 <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Athiti&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">

</head>
<body class="body">
    <div class="header">
        <div class="imagem"><img src="how-to-get-away-witu-murder-poster.jpg"></div>
        
        
        <div class="textoImagem"><span  class="voltar">"It's All Her Fault"</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui, unde amet dolore velit corporis iure perferendis repellendus quos sequi eos, distinctio rem. Autem, alias id neque odit minus distinctio?</div>
    </div>
   
    <div class="footer">
        <div class="assistidos"></div><span  class="nAssistidos">1250</span><span  class="reacoes">1800</span>
        <div class="tagAss"></div><span  class="tagAss2">COMENTÁRIOS</span><span  class="tagReact">REAÇÕES</span>
        <span  class="privado">Privatizamos essa sessão para que você não pesque spoilers, para poder visualizar essa sessão marque
      o episódio como assistido.</span>
        <div class="liberar"></div><span  class="liberar1">Liberar sem Assistir</span>
        <span  class="sessaoPrivada">sessão privada</span>
      </div>

    

  
    
</body>
</html>