<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodio</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/pagEpisodio.css">
 <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Athiti&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">

</head>
<body>
    
    
  <section>
    <header>
        <span>
            <img src="../../public/images/pgSeriesEp/image.jpg" alt="">
        </span>
        <span>
            <h3>Voltar</h3>
            <br>
            <h2>"It's All her Fault"</h2>
            <br>
            <p>lorem ipsum dolor sit amet, consectetur adip lorem ips lorem Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Error atque eius, ea tenetur quas unde voluptatum corporis, totam quae quis sint
                voluptas molestias blanditiis esse maiores aperiam harum nesciunt reprehenderit?</p>
            <br>
            <h6>Lançamento: x; duração: y</h6>
            <br>
        </span>
        

    </header>

</section>
<section>
  <span>NETFLIX</span>
  <span>6 Temporadas</span>
  <span>Finalizadas</span>
  <span>13123132 pessoas já viram</span>
</section>
<section>
  <span>AQUI VAI O LOGO DA TV</span>
  <br>
</section>
<section>
  <img src="" alt="">
  <ol>
    <li>Episodio 1</li> <img src="" alt="">
    <li>Episodio 2</li> <img src="" alt="">
    <li>Episodio 3</li> <img src="" alt="">
    <li>Episodio 4</li> <img src="" alt="">
    <li>Episodio 5</li> <img src="" alt="">
    <li>Episodio 6</li> <img src="" alt="">
    <li>Episodio 7</li> <img src="" alt="">
    <li>Episodio 8</li> <img src="" alt="">
  </ol>

</section>
<section>
  <div>Nome Atriz</div>
  <div>Nome Autor</div>
  <div>Nome Atriz</div>
  <div>Nome Atriz</div>
  <div>Nome ator</div> 
</section>
<section>
  <h4>Já assistestes? Dê sua crítica sobre a série</h4>
  <p>Modere nos spoilers</p>
</section>
<section>
  <form>

    <textarea name="description" id="description" cols="30" rows="20"></textarea>
  </form>
</section>
    
  
    
</body>
</html>