<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioConexoes.css" rel="stylesheet">

        <link rel="icon" type="imagem/png" href="images/icones/icon.png" />
        <title>Serial - Conexões</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%> 

        <main>
                <div class="conexoes">
                    <img src="/images/imgConexoes/iconesUsuarioConexao/iconeConexão.png" alt="">
                    <h1>CONEXÕES</h1>
                </div>
                <div class="seguindo">
                    <h2>SEGUINDO</h2>
                </div>
                <div class="seguindoPessoas">
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Hermione.jpg" alt=""/>
                            <h4>Hermione<br>Granger</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 858.png" alt=""/>
                            <h4>Neville<br>Longbottom</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 859.png" alt=""/>
                            <h4>Rony<br>Wesley</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 860.png" alt=""/>
                            <h4>Gina<br>Wesley</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 861.png" alt=""/>
                            <h4>Luna<br>Lovegood</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 868.png" alt=""/>
                            <h4>Belatrix<br>Lestrange</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 870.png" alt=""/>
                            <h4>Rita<br>Skeeter</h4>
                        </div>
                </div>
                <div class="seguidores">
                    <h2>SEGUIDORES</h2>
                </div>
                <div class="seguidoresPessoas">
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 871.png" alt=""/>
                            <h4>Lucius<br>Malfoy</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 872.png" alt=""/>
                            <h4>Alastor<br>Moody</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 873.png" alt=""/>
                            <h4>Remo<br>Lupin</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 874.png" alt=""/>
                            <h4>Neville<br>Longbottom</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 858.png" alt=""/>
                            <h4>Neville<br>Longbottom</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 859.png" alt=""/>
                            <h4>Rony<br>Wesley</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Hermione.jpg" alt=""/>
                            <h4>Hermione<br>Granger</h4>
                        </div>
                        <div class="follower">
                            <img class="followerPicture" src="/images/imgConexoes/Rectangle 860.png" alt=""/>
                            <h4>Gina<br>Wesley</h4>
                        </div>
                </div>
        </main>

    </body>
</html>