<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <link href="../../public/css/usuarioFeed.css" rel="stylesheet">
        
        <link rel="icon" type="imagem/png" href="images/icones/icon.png" />
        <title>Serial - Perfil</title>
    </head>
    <body>
        <header>
            <div class="container">
                <img class="logo" src="images/Logo.png"> 
                    
                <nav class="menu-desktop">            
                    <ul>                
                        <li><a href="">PERFIL</a></li>
                        <li><a href="">CALENDÁRIO</a></li>
                        <li><a href="">EXPLORAR</a></li>
                    </ul>
                </nav><!--menu-desktop-->

                <nav class="menu-mobile">            
                    <ul>                
                        <li><a href=""><img src="images/icones/iconesMenu/iconePerfil.png" alt="icone Perfil"></a></li>
                        <li><a href=""><img src="images/icones/iconesMenu/iconeCalendario.png" alt="icone Calendario"></a></li>
                        <li><a href=""><img src="images/icones/iconesMenu/iconeExplorar.png" alt="icone Explorar"></a></li>
                    </ul>
                </nav><!--menu-mobile-->

                <div id="divSearchUser">
                    <input type="text" id="txtBusca" placeholder="PESQUISAR USUÁRIO"/>
                    <img src="images/icones/iconePesquisa.png" id="btnBusca" alt="Buscar"/>
                </div><!--divSearchUser-->
            </div><!--container--> 
        </header>

        <div class="background-user">
            <div class="container">
                <div class="blockUser">
                    <div id="profilePicture"></div>
                        
                    <div id="userName">
                        <h1>Harry Potter</h1>
                        <div id="userFollows">
                            <h4>300<br>seguindo</h4>
                            <img src="images/icones/iconeConexão.png"/>
                            <h4>100000<br>seguidores</h4>
                        </div> <!--userFollows-->               
                    </div><!--userName-->
                </div><!--background-user-->
        
                <nav class="menu-perfil-desktop">
                    <ul>
                        <li><a href="">PERFIL</a></li>
                        <li class="select"><a href="">FEED</a></li>
                        <li><a href="">CONEXÕES</a></li>
                        <li><a href="">PIPOCANDO</a></li>
                    </ul>
                </nav><!--menu-perfil-desktop-->

            </div><!--container--> 
        </div> 
        <main>
            <div class="container">
                <div class="titleFeed">
                    <img src="images/icones/iconeFeed.png" alt="">
                    <h1>FEED</h1>
                </div>

                <section class="infoFeed">
                    <div class="post">
                        <div class="titlePost">
                            <img src="images/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>
                </section>
            </div>
        </main>

</html>