<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">     
        <link href="/css/usuarioPipocando.css" rel="stylesheet">     
        
        <title>Serial - Pipocando</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%>

        <section class="pipocando">
            <div class="container">
                <div class="title">
                    <img src="/images/icons/iconePipocando.png" alt="ícone pipocando">
                    <h1>PIPOCANDO</h1>
                </div><!--title-->

                <div class="episodesUpdated">
                    <div class="title">
                        <h1>Tá em dia!</h1>
                    </div>
                    <div class="watchedEpisodes">
                        <div class="imgEpisode">
                            <img src="/images/imgUsuarioPerfil/Cast/lock.jpg" alt="poster Lock&Key">
                        </div>                        
                        <div class="infoEpisode">
                            <h1>Locke & Key</h1>
                            <p><span class="seasonEpisode">S02|E04</span> "Memórias"</p>
                            <p>Restam + 6 episódios <span class="premiere">Estreia</span></p>
                        </div>
                        <div class="watched">
                            <img src="/images/icons/iconeAssistiu.png" alt="">
                        </div>
                    </div>
                    <div class="watchedEpisodes">
                        <div class="imgEpisode">
                            <img src="/images/imgUsuarioPerfil/Cast/lock.jpg" alt="poster Lock&Key">
                        </div>                        
                        <div class="infoEpisode">
                            <h1>Locke & Key</h1>
                            <p><span class="seasonEpisode">S02|E05</span> "O passado é um prólogo"</p>
                            <p>Restam + 5 episódios <span class="premiere">Estreia</span></p>
                        </div>
                        <div class="watched">
                            <img src="/images/icons/iconeAssistiu.png" alt="">
                        </div>
                    </div>
                </div><!--WatchedEpisodes-->
                
                <div class="episodesToUpdate">
                    <div class="title">
                        <h1>Vem me ver!</h1>
                    </div>
                    <div class="toWatchEpisodes">
                        <div class="imgEpisode">
                            <img src="/images/imgUsuarioPerfil/Cast/lock.jpg" alt="poster Locke & Key">
                        </div>                        
                        <div class="infoEpisode">
                            <h1>Locke & Key</h1>
                            <p><span class="seasonEpisode">S02|E06</span> "O Labirinto"</p>
                            <p>Restam + 4 episódios <span class="premiere">Estreia</span></p>
                        </div>
                        <div class="watched">
                            <img src="/images/icons/iconeNaoAssistiu.png" alt="">
                        </div>
                    </div>
                </div><!--toWatchEpisodes-->
            </div><!--container-->
        </section>

    </body>
</html>