<html lang="pt-br">
    <head>
        <%- include('./partials/head')%>
        <link href="/css/stylePadrao.css" rel="stylesheet">
        <link href="/css/usuarioFeed.css" rel="stylesheet">
        
        <link rel="icon" type="imagem/png" href="images/icones/icon.png" />
        <title>Serial - Feed</title>
    </head>
    <body>
        <%- include('./partials/header')%>

        <%- include('./partials/userInfo')%> 

        <main>
            <div class="container">
                <div class="titleFeed">
                    <img src="images/icons/iconeFeed.png" alt="">
                    <h1>FEED</h1>
                </div>

                <section class="infoFeed">
                    <div class="post">
                        <div class="titlePost">
                            <img src="images/imgUsuarioFeed/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/imgUsuarioFeed/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/imgUsuarioFeed/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/imgUsuarioFeed/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/imgUsuarioFeed/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/imgUsuarioFeed/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>

                    <div class="post">
                        <div class="titlePost">
                            <img src="images/imgUsuarioFeed/Rectangle 868.png" alt="">
                            <p><span>Bellatrix Lestrange</span> marcou <span>How to get away with a murder</span> como <span>Quero Ver</span></p>
                        </div>

                        <div class="postWrap">
                            <div class="postImage">
                                <img src="images/imgUsuarioFeed/htgw.jpg" alt="">
                                
                            </div>
                            <div class="postText">
                                <p>Sinopse: A professora de direito penal e 
                                brilhante advogada criminal Annalise Keating (Viola Davis) 
                                recruta cinco alunos para estagiar em sua firma. Logo na 
                                primeira temporada, o quinteto se envolve em um assassinato 
                                que acaba criando um laço eterno entre eles.</p>
                            </div>
                        </div>                        
                    </div>
                </section>
            </div>
        </main>

</html>