<header>
    <div class="container">
        <img class="logo" src="/images/Logo/Logo.png"> 
            
        <nav class="menu-desktop">            
            <ul>                
                <li><a href="/usuario">PERFIL</a></li>
                <li><a href="/calendario">CALENDÁRIO</a></li>
                <li><a href="/explorar">EXPLORAR</a></li>
            </ul>
        </nav><!--menu-desktop-->

        <nav class="menu-mobile">            
            <ul>                
                <li><a href="/usuario"><img src="/images/icons/iconesMenu/iconePerfil.png" alt="icone Perfil"></a></li>
                <li><a href="/calendario"><img src="/public/images/icons/iconesMenu/iconeCalendario.png" alt="icone Calendario"></a></li>
                <li><a href="/explorar"><img src="/public/images/icons/iconesMenu/iconeExplorar.png" alt="icone Explorar"></a></li>
            </ul>
        </nav><!--menu-mobile-->

        <div id="divSearchUser">
            <input type="text" id="txtBusca" placeholder="PESQUISAR USUÁRIO"/>
            <img src="/images/icons/iconePesquisa.png" id="btnBusca" alt="Buscar"/>
        </div><!--divSearchUser-->
    </div><!--container--> 
</header>