<div class="background-user" style="background-image:url('../images/imgUsuarioSeguir/background-user.jpg');">
    <div class="container">
        <div class="blockUser">
            <div id="profilePicture"><img src="/images/imgUsuarioSeguir/user-profile.jpg" /></div>
                
            <div id="userName">
                <h1>Hermione Granger</h1>
                <div id="userFollows">
                    <h4>300<br>seguindo</h4>
                    <img src="/images/icons/iconeConexão.png"/>
                    <h4>100000<br>seguidores</h4>
                </div> <!--userFollows-->               
            </div><!--userName-->
        </div><!--background-user-->

        <nav class="menu-perfil-desktop">
            <ul>
                <li class="selectPerfil"><a href="/usuario">PERFIL</a></li>
                 <li class="selectConexoes"><a href="/usuario/conexoes">CONEXÕES</a></li>
                 
            </ul>
        </nav><!--menu-perfil-desktop-->

    </div><!--container--> 
</div> 