<div class="background-user">
    <div class="container">
        <div class="blockUser">
            <div id="profilePicture"></div>
                
            <div id="userName">
                <h1>Harry Potter</h1>
                <div id="userFollows">
                    <h4>300<br>seguindo</h4>
                    <img src="images/icones/iconeConexão.png"/>
                    <h4>100000<br>seguidores</h4>
                </div> <!--userFollows-->               
            </div><!--userName-->
        </div><!--background-user-->

        <nav class="menu-perfil-desktop">
            <ul>
                <li class="select"><a href="">PERFIL</a></li>
                <li><a href="">FEED</a></li>
                <li><a href="">CONEXÕES</a></li>
                <li><a href="">PIPOCANDO</a></li>
            </ul>
        </nav><!--menu-perfil-desktop-->

    </div><!--container--> 
</div> 