*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Athiti";
    background: black;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.logo{
    position: absolute;
    width: 120px;
    top: 2%;
    left: 5%;
    object-fit: cover;
}

header{
    position: fixed;
}

main{
    position: fixed;
    top: 20px;
    padding: 30px;
    color: #fff ;
    text-shadow: #000 2px 2px 2px
}

h1{ 
    font-size: 500%;
    padding-left: 5%;
    padding-right: 50%;
    padding-top: 10%;
    letter-spacing: 20px;
    position: absolute;
    color: #ffffff;
} 

a{
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 60%;
    line-height: 250%;
    color: black;
    font-weight: bold;
}

ul{
    text-align: center;
    margin-top: 2%;
    list-style: none;
}

/* ==== listMenu ====*/
    
.listMenu{
    background-color: #ffffff20;
    position: fixed;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    right: 3%;
    top: 2%;
    z-index: 100;
}






